body {
   background: #181818;
}

*,
*::before,
*::after {
   font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
   box-sizing: border-box;
}

.chat-message {
   line-height: 2em;
}

.chat-message ol,
.chat-message ul {
   list-style: disc;
   padding-left: 16px;
}
